*{
    margin: 0;
    padding: 0;
}

#buttons {
display: flex;
justify-content: space-between;
margin-left: 554px;
margin-right: 157px;
margin-top: 29px;
margin-bottom: 18px;
margin-top: 0;
}
nav{
    height: 99px;
}
#navbar {
    background-color: #8868F1;
    width: 100%;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.btns2{
    /*display: flex;
    gap: 21px;
    margin-top: 28px;*/
    display: flex;
    width: 40%;
    justify-content: center;
}

.btns1{
   /* display: flex;
    gap:0px;
    margin-top: 28px;*/
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 0 245px 0 0;
    
}
.buttons{
    display: flex;
    background-color: #8868F1;
    border: none;
    color: white;
}
button{
    margin: 0px 10px;
    width: 111px;
    height: 50px;
}
