*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #8868F0;
    height: 99px;
}

.btns1{
    display: flex;
    width: 40%;
    height: 99px;
    justify-content: center;
    padding: 0 143px 0 0;
}

.btns1 button{
    background-color: #8868F0;
    border-style: none;
    color: #FFF;
}

.btns1 button:hover{
    background-color: #7654e4;
    border-style: none;
    color: #e9e6e6;
}


.btns2{
    display: flex;
    width: 60%;
    gap: 21px;
    margin-right: 150px;
}

.entrar{
    border-style: none;
    background-color: #ffffff;
    border-radius: 10px;
}

.cadastrar{
    border-color: #FFF;
    background-color: #8868F0;
    color: #ffffff;
    border-radius: 10px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 554px;
    margin-right: 157px;
    margin-bottom: 18px;
}

#buttons button{
    width: 111px;
    height: 50px;
}

